@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./colors.scss";

body {
    background-color: $primary-color;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: $helping-color;
    color: $terniary-color;
}

.profile {
    width: 220px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10%;
    box-shadow: $terniary-color 5px 5px;
}

/* Nav Links */

.nav-link {
    font-size: 20px;
}

/* paragraphs */

#bioPage {
    display: flex;
    flex-flow: column wrap;
    margin: 30px;
    text-align: left;
}

.paragraph {
    margin: 30px;
    border: 2px solid $primary-color;
    border-radius: 10px;
    width: 35rem;
    align-self: flex-start;
    box-shadow: 5px 5px grey;
    background-color: $terniary-color;
    text-align: center;
}

.paraTwo {
    align-self: flex-end;
}

.paragraph h2 {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    color: white;
    background-color: $helping-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.paragraph p {
    padding: 10px 20px;
}

/* Tools and Languages */

#technologiesPage {
    text-align: center;    
    display: flex;
    align-content: center;
    flex-flow: column wrap;
}

#technologiesPage h2 {
    color: white;
    padding: 15px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px $terniary-color;
    background-color: $helping-color;
}

#technologiesPage ul {
    align-self: center;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    background-color: $secondary-color;
    width: 225px;
    border: 2px solid $primary-color;
    box-shadow: 5px 5px $terniary-color;
    border-radius: 10px;
}

#technologiesPage li {
    padding: 3px;
    color: black;
}

.icon {
    width: 50px;
    padding-right: 5px;
}

i {
    padding-right: 5px;
    color: black;
}

/* project card page */

#projectsPage {
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* footer end */

footer {
    width: 100%;
    margin-top: 30px;
    background-color: $terniary-color;
    text-align: center;
}

@media (max-width: 768px){
    .jumbotron {
        width: 100%;
    }
    footer {
      font-size: 20px;
    }
}