@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./colors.scss";

body {
    background-color: $primary-color;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: $helping-color;
    color: $terniary-color;
    background-image: url('https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    .line-1{
        position: relative;
        top: 20px;  
        width: 20em;
        margin: 0 auto;
        border-right: 2px solid rgba(255,255,255,.75);
        font-size: 220%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);    
    }
    
    /* Animation */
    .anim-typewriter{
      animation: typewriter 4s steps(44) 1s 1 normal both,
                 blinkTextCursor 500ms steps(44) infinite normal;
    }
    @keyframes typewriter{
      from{width: 0;}
      to{width: 11.2em;}
    }
    @keyframes blinkTextCursor{
      from{border-right-color: rgba(255,255,255,.75);}
      to{border-right-color: transparent;}
    }
    // The css tricks code ends here
}

.profile {
    width: 220px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10%;
    box-shadow: $terniary-color 5px 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Nav Links */

.nav-link {
  font-size: 20px;
}

.my-text {
  color: white;
}
.my-text:hover {
  color: black;
}

/* paragraphs */

#bioPage {
    display: flex;
    flex-flow: column wrap;
    margin: 30px;
    text-align: left;
}

.paragraph {
    h2 {
        margin: 0;
        padding: 10px 0;
        width: 100%;
        color: white;
        background-color: $helping-color;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
    width: 35rem;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: $terniary-color;
    text-align: center;
    p {
        padding: 10px 20px;
    }
}

/* Tools and Languages */

#technologiesPage {
    text-align: center;    
    display: flex;
    align-content: center;
    flex-flow: column wrap;
}

#technologiesPage h2 {
    width: 65%;
    color: white;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: $helping-color;
}

#technologiesPage .tech {
  width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.technology {
  margin: 20px;
  width: 150px;
}



/* project card page */

#projectsPage {
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* footer end */

footer {
    width: 100%;
    margin-top: 30px;
    background-color: $terniary-color;
    text-align: center;
}

@media (max-width: 768px){
    .jumbotron {
        width: 100%;
    }
    footer {
      font-size: 20px;
    }
}

@media(max-width: 720px){
    body {
      padding: 0;
  
    .jumbotron{
      width: 100%;
    }
    #bioPage {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      .paragraph {
        margin: 30px;
        width: 90%;
      }
      }
    }
  }

@media (max-width: 768px){
    #technologiesPage{
      margin: 15px;
      li {
        font-size: 25px;
      }
    }
  }

/* Scrollbar */
::-webkit-scrollbar-track
  {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
      background-color: #CCCCCC;
  }
  
::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }
  
::-webkit-scrollbar-thumb
  {
      border-radius: 20px;
      background-color: #FFF;
      background-image: -webkit-linear-gradient(360deg,
                                                rgb(129, 29, 29) 0%,
                                                rgb(180, 8, 8) 25%,
                                                transparent 100%,
                                                rgb(197, 13, 13) 75%,
                                                transparent)
  }