@media(max-width: 720px){
  body {
    padding: 0;

  .jumbotron{
    width: 100%;
  }
  #bioPage {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    .paragraph {
      margin: 30px;
      width: 90%;
    }
    .paraTwo {
      align-self: flex-start;
    }
    }
  }
}